<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-signin-client_id" content="502256575677-uv3u46o2a7qut2gcb9qktl4a322ceoe8.apps.googleusercontent.com">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- load css -->
  <link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">

  <!-- load js from external sources -->
  <!-- load cdn yg dari google-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- ini untuk styling accordionnya -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  
  <!-- script yang dipakai untuk accordionnya -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- load js -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/register.js' %}"></script>
  <script src="{% static 'js/books.js' %}"></script>


  


  
  <style>
  .loader {
    position: absolute;
      left: 50%;
      top: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>

  <title>NOOR</title>
</head>


<!--body id="change_this" onload="setTimeout(showPage, 1000);"-->
<body id="change_this">
<!-- ini loader -->
<!--div id="loader"></div-->

<div id="mainid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='navbarid'>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id='homebtn' href="{% url 'noortdd:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='regprofilebtn' href="{% url 'noortdd:register_profile' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:profil' %}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:books' %}">Books (Story 9)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:register_ajax' %}">Register (Story 10)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:oauth' %}">OAuth (Story 11)</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container" id="main_container" style="background-color:;">

{% block content%} {% endblock %}

</div>
</div>

</body>
</html>