{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div style="margin-left: auto; margin-right: auto; margin-top: 10px">
		<h1>AYY LMAO</h1>
	</div>
</div>
<div class="row" style="margin-bottom: 10px">
	<button type="button" class="btn btn-primary" id="get_books_btn" style="margin-left: auto; margin-right: auto;">GENERATE BOOKS</button>
</div>

<div class="row">
	<h3 id="books_header" style="margin-left: auto; margin-right: auto; display: block">Nothing to see here</h3>
	<div class="loader" id="loader" style="display: none"></div>

	<div id='books_menu' style="display: none">
		<div class="row" id="search_bar">
			<form onsubmit="return false;">
				<input id="search_box" type="text" placeholder="Search books">
				<button onclick="findBooks()"><i class="fa fa-search"></i></button>
			</form>
		</div>



		<div class="row">
			<h3>Jumlah buku favorit: </h3><h3 id="fav">0</h3>
		</div>
		<div class="loader" id="loader_books_search" style="display: none"></div>
		<div class="row">
		<div class="table-responsive">
		<table class="table" id="books_table">
			<thead>
				<th scope="col">No.</th>
				<th scope="col">Books</th>
				<th scope="col">Description</th>
				<th scope="col">Cover</th>
				<th scope="col">Favourite</th>
			</thead>
			<tbody id="lists">
				
			</tbody>
		</table>
		</div>
		</div>
	</div>
</div>

{% endblock %}