{% extends 'base.html' %}

{% block content %}
<div class = "row">
	<h1 id='introid'>Hello, Apa kabar?</h1>
	<br>
	<br>
</div>
<div class="row">
	<form method="POST" action="{% url 'noortdd:save_status' %}">
		{% csrf_token %}
		{{ add_status.as_p }}
		<input id='submitid' type="submit" value="Submit">
	</form>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<th class="col-sm-6">Status</th>
				<th class="col-sm"> Time Published </th>
			</thead>
			<tbody>
				{% for data in all_status %}
				<tr>
					<td>{{ data.status }}</td>
					<td>{{ data.date }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}