{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-1-sm">
    <div id="log-block" style="margin-top: 10px">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
  </div>

  <div class="col-8-sm" style="margin-left: 20px">
    <p>test</p>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

  var block = "<h3>"+profile.getName()+"</h3>"+"<img src='"+profile.getImageUrl()+"'>"+"<a href='#' onclick='signOut();'>Sign out</a>";

  $('#log-block').html(block);

}
</script>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      
      console.log('User signed out.');
    });
    var block = '<div class="g-signin2" data-onsuccess="onSignIn"></div>';
    $('#log-block').html(block);
  }
</script>

{% endblock %}