<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">

	<!-- load js from external sources -->
	<!-- load cdn yg dari google-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

	<!-- ini untuk styling accordionnya -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	
	<!-- script yang dipakai untuk accordionnya -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<!-- load js -->
	<script src="{% static 'js/main.js' %}"></script>

	
	<style>
	#loader {
		position: absolute;
  		left: 50%;
  		top: 50%;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 1s linear infinite;
		/* Safari */
		animation: spin 1s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	</style>

	<title>Ayy lmao</title>
</head>
<body id="change_this" onload="setTimeout(showPage, 1000);">
<!-- ini loader -->
<div id="loader"></div>

<div id="main_id" style="display: none">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='navbarid'>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id='homebtn' href="{% url 'noortdd:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='regprofilebtn' href="{% url 'noortdd:register_profile' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:profil' %}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:books' %}">Books (Story 9)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='profilbtn' href="{% url 'noortdd:register_ajax' %}">Register (Story 10)</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container" id="main_container" style="background-color:;">
	<div class="row" style="margin-top: 10px; margin-bottom: 30px;">
		<div class="col-sm-3">
			<img src="{% static 'meme.jpg' %}" class="image-fluid" style="max-width: 500px; width: 90%">
		</div>

		<div class="col-sm">
			<div class="row">
				<h1 id="head1" style="color:;">[INSERT H1 TEXT]</h1>
			</div>
			<div class="row">
				<h2 id="head2" style="color:;">[INSERT H2 TEXT]</h2>
			</div>
			<div class="row">
				<button type="button" class="btn btn-info" id="info" onclick="change_theme()">Ubah Tema!</button>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-sm-12">
			<div id="accordion" style="width: 80%">
				<h3>Aktifitas saat ini</h3>
				<div>
					<p>Membuat hal-hal ini berfungsi.</p>
					<p>Kedinginan di lab.</p>
				</div>

				<h3>Pengalaman organisasi/kepanitiaan</h3>
				<div>
					<p>Pernah main harvest moon (yg a wonderful life tapi).</p>
					<br>
					<p>Kalo yang serius sih baru staff IGI Compfest X</p>
				</div>

				<h3>Prestasi</h3>
				<div>
					<p>Pernah menang lomba berenang sblm lahir.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-left: 1%">
		<p style="font-size: 5px">Perasaan accordionnya udah bener malah jadi cuma bisa nampilin 1 line per extend dan harus discroll :/</p>
	</div>
</div>
</div>

<script>

</script>

</body>
</html>