{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-1-sm">
    <form id="form" method="POST" onsubmit="return false;">
      {% csrf_token %}
      {{ Form }}
      <button type="submit" class="btn btn-success" id="submit_btn">Subscribe</button>
    </form>
  </div>
  <div class="col-8-sm" style="margin-left: 20px">
    <p>test</p>
  </div>
</div>
{% endblock %}