{% extends 'base.html' %}

{% block content %}
<div class = "row">
	<h1>Hello! Salam kenal</h1>
	<br>
	<br>
</div>
<div class="row">
	<form method="POST" action="{% url 'noortdd:save_profile' %}">
		{% csrf_token %}
		{{ add_profile.as_p }}
		<input  type="submit" value="Submit">
	</form>
</div>

{% endblock %}